body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #a2d2ff;
  background: #a2d2ff;
}

.content {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content input,
.content button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.content button {
    font-size: 15px;
}

.content button:hover {
    opacity: 75%;
    cursor: pointer;
}

#result {
  margin-top: 20px;
}
